# - logg: add color highlight                                                          
                                                                                       
[alias]                                                                                
logg = log --graph --pretty=tformat:\"%h %ad %s%d (%an)\" --date=short --color         
logs = log --pretty=tformat:\"* %h %ad %s%d (%an)\" --date=short                       
co = checkout                                                                          
ci = commit                                                                            
st = status -s                                                                         
br = branch                                                                            

